<!DOCTYPE html>
<html lang="en">

<head>
     {% include 'common/header.html' %}
</head>

<body id="page-top">

  <div id="wrapper">
    {% include 'common/vertical_menu_bar.html' %}
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
          <br>
          <div class="container-fluid">
              {% include 'common/horizontal_menu_bar.html' %}
              <main role="main">

                  {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                <br>
                                {% if category == "success" %}
                                <div class="alert alert-success">
                                    <strong>{{ message | safe }} </strong>
                                </div>
                                {% else %}
                                 <div class="alert alert-danger">
                                    <strong>{{ message | safe }} </strong>
                                </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endwith %}


       

                  <div class="row">
                      <div class="col-md-4">
                          <div class="card shadow mb-4">
                              <div class="card-header py-3">
                                  <h6 class="m-0 font-weight-bold text-primary">访问计算集群</h6>
                              </div>
                              <div class="card-body">
                                  <div align="center">
                                      <i class="fas fa-sign-in-alt fa-4x"></i>
                                  </div>
                                  <hr>
                                  <strong><a href="/ssh">通过SSH方式访问</a></strong>
                                  <br><br>
                                  轻松下载pem / ppk格式的私钥并直接访问群集。<br><br>
                                  <a href="/remote_desktop"><strong> 远程工作站方式访问</strong></a>
                                  <br><br>
                                  通过DCV远程可视化技术，安全地连接到托管在AWS上的图形工作站。
                              </div>
                          </div>
                      </div>


                      <div class="col-md-4">
                          <div class="card shadow mb-4">
                              <div class="card-header py-3">
                                  <h6 class="m-0 font-weight-bold text-primary">作业管理</h6>
                              </div>
                              <div class="card-body">
                                  <div align="center">
                                      <i class="fas fa-network-wired fa-4x"></i>
                                  </div>
                                  <hr>
                                  <strong>上传文件</strong>
                                  <br><br>
                                  通过 <a href="/my_files"> SOCA文件浏览器</a>轻松上传文件
                                  <br><br>
                                  <strong>提交作业</strong>
                                  <br><br>
                                  可以通过 <a href="/my_files"> 网页方式</a>或<a href="/my_files">命令行方式</a>提交作业
                                  <br><br>
                                  <strong>查看作业队列</strong>
                                  <br><br>
                                  通过 <a href="/my_jobs">队列查看器</a>随时了解您的工作流程
                             
             

                              </div>
                          </div>
                      </div>

                      <div class="col-md-4">
                          <div class="card shadow mb-4">
                              <div class="card-header py-3">
                                  <h6 class="m-0 font-weight-bold text-primary">分析和预算管理</h6>
                              </div>
                              <div class="card-body">
                                  <div align="center">
                                      <i class="fas fa-chart-pie fa-4x"></i>
                                  </div>
                                  <hr>
                                  <strong>预算管理</strong>
                                  <br><br>
                                  利用AWS Cost Explorer和AWS Budget服务控制您的HPC计算集群花费  <br><br>
                                  <strong>计算集群分析</strong>
                                  <br><br>
                                  利用<a href="/dashboard">ElasticSearch服务</a>实时访问你的作业分析和集群信息
                              </div>
                          </div>
                      </div>



                  </div>


                    </main>




              </div>
          </div>
      </div>

  </div>

  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>


    {% include 'common/footer.html' %}

</body>

</html>
