<!DOCTYPE html>
<html lang="en">

<head>
     {% include 'common/header.html' %}

</head>

<body id="page-top">

  <div id="wrapper">
    {% include 'common/vertical_menu_bar.html' %}
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
          <br>
          <div class="container-fluid">
              {% include 'common/horizontal_menu_bar.html' %}
              <main role="main">
              {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                <br>
                                {% if category == "success" %}
                                <div class="alert alert-success">
                                    <strong>{{ message | safe }} </strong>
                                </div>
                                {% else %}
                                 <div class="alert alert-danger">
                                    <strong>{{ message | safe }} </strong>
                                </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endwith %}

                  <div class="row">
                      <div class="col-md-6">
                          <div class="card shadow mb-4" style="width: 100%">
                              <div class="card-header py-3">
                                  <h6 class="m-0 font-weight-bold text-primary">Launching your {{ profile_name }} simulation </h6>
                              </div>
                              <div class="card-body">
                                  <form action="/submit_job/send" method="post">
                                      <div class="form-build"></div>
                                      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                      <input type="hidden" name="job_script" value="{{ profile_job }}">
                                      <input type="hidden" name="profile_interpreter" value="{{ profile_interpreter | safe }}">
                                      <input type="hidden" name="input_file_path" value="{{ input_file_path | safe }}">
                                      <button type="submit" class="btn btn-success"><i class="fas fa-play"></i> Submit job</button>
                                  </form>
                              </div>
                          </div>
                      </div>
                  </div>

              </main>





      </div>

    </div>
  </div>
</div>




              </div>
          </div>
      </div>

  </div>

  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <script>

      $(document).ready(function(){
          formBuilder = $('.form-build').formRender({
              dataType: 'json',
              formData: {{ profile_form | safe }}
          })

          // populate input file path by default if they exist
          $("#input_file").val('{{ input_path }}');
          $("#job_name").val('{{ input_name }}');


      });



  </script>

    {% include 'common/footer.html' %}

</body>

</html>
