<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Scale-Out Computing on AWS <small>(version 2.5.0)</small></h1>
    <div>
        <a href="https://awslabs.github.io/scale-out-computing-on-aws/" target="_blank" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-book"></i> 支持文档</a>
        <a href="/logout" class="d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm"><i class="fas fa-sign-out-alt"></i>退出登录</a>
    </div>

</div>
